{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-5">
        <div>
                <section class="post">
                    <div class="post-description">
                        {{ $index := .Site.Params.index | lower }}
                        {{ range .Site.Pages }}
                             {{ $titleMatch := .Title | lower | eq $index }}
                             {{ if $titleMatch }}
                                {{ .Content }}
                             {{ end}}
                        {{ end }}
                    </div>
                </section>

            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

</body>
</html>
